/* some default values
==========================================


==========================================
*/

.contact-section-one {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
    justify-content: center;
    background-color: #f9f9f9;
}

.contact-header {
    text-align: center;
}

.contact-us-text-1 {
    font-weight: 100;
}


/* contact-section-2 */
.contact-section-two {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding-bottom: 50px;
    position: relative;
    justify-content: center;

    /* background-color: #fff; */
}

.cont-box-dimension {
    width: 270px;
    height: 350px;
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cont-box-dimension:hover{
    box-shadow: 2px;
    background-color: #ffcf40;
    color: white;
}

.box-2-margin {
    margin: 0 15px;
}

@media only screen and(min-width:578px) {
    .box-2-margin {
        margin: 0 0;
    }
}

.contct-box-content img {
    width: 100px;
    padding: 20px 0px;
}

.contct-box-content {
    text-align: center;
    box-sizing: border-box;
}

.contct-box-content h5 {
    padding-top: 20px;
    font-size: 1.5vw;
}

.contct-box-content h3 {
    font-size: 2vw;
}

.contct-box-content p {
    font-size: 1vw;
}

.followus-icon ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}


.followus-icon ul li {
    padding: 0 7px;
    font-size: 25px;
}


/* Contact us section -3 */
.contact-section-3{
    padding: 60px;
}
.contact-us-header h3{
font-size: 30px;


}

.contact-us-header h3 i{
    font-size: 28px;
}
.con-business{
    line-height: 10px;
}

.write-to-us{
    color: #292c33;
    padding-top: 30px;
}
.write-to-us button{
    padding: 0 120px;
}